.PageContainer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.BackToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    padding: 5px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background-color: mediumpurple;
    color: var(--color-primary-bg);

}

.BackToTop:hover {
    background-color: var(--color-primary-bg);
    color: mediumpurple;
}

.IconRow {
    max-width: 30ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.PageItem {
    height: 100%;
    width: 100%;

    padding-right: 30px;
    padding-left: 30px;
    /* padding-bottom: 30px; */

    background-color: var(--color-primary-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .PageContainer {
        flex-direction: row;
    }

    .Reverse {
        flex-direction: row-reverse;
    }

    .PageItem {
        width: 50%;
        align-items: flex-end;
        text-align: end;
    }

    .Reverse .PageItem {
        align-items: flex-start;
        text-align: start;
    }
}

@media only screen and (max-width: 600px) {
    .PageContainer, .Reverse {
        flex-direction: column;
    }

    .PageItem {
        width: 100%;
        align-items: flex-start;
    }
}
