@import url('https://fonts.googleapis.com/css?family=Rancho:400|Roboto+Mono:400');

html {
  font-size: 100%; /*16px*/
  scroll-behavior: smooth;
} 
body {
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  margin: 0;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 1.75rem 0 1.05rem;
  font-family: 'Rancho', cursive;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

a {
  text-decoration: none;
  cursor: pointer;
  color: #b700ff;
}

a:hover {
  color: #00fff2;
}
